---
import { getCollection } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import Post from "../../components/Post.astro";
import ColorScript from "../../components/ColorScript.astro";

import { title, subtitle } from "../../settings/settings.json"

export async function getStaticPaths() {
	let posts = await getCollection("posts");
	const categories = posts.reduce((allCategories, post) => {
		const postCategories = post.data.categories;
		if (postCategories) {
			postCategories.forEach((category) => {
				if (!allCategories[category]) {
					allCategories[category] = [];
				}
				allCategories[category].push(post);
			});
		}
		return allCategories;
	}, {});

	return Object.keys(categories).map((category) => {
		return {
			params: { category },
			props: { categoryPosts: categories[category] },
		};
	});
}

const { categoryPosts } = Astro.props;
const { category: currentCategory } = Astro.params;

let sortedPosts = categoryPosts.sort(
	(a, b) => new Date(b.data.added).valueOf() - new Date(a.data.added).valueOf(),
);
---

<!DOCTYPE html>
<html lang="en-us">
	<BaseHead title={title} description={subtitle} />
	<body>
		<Header />
		<main>
			<content>
				<h3>Posts in "{currentCategory}"</h3>
				<ul class="tags-list">
					{
						sortedPosts.map(
							({
								url,
								data: { description, slug, title, tags, categories, added: date },
							}) => <Post {url} {description} {date} {slug} {title} {tags} {categories} />
						)
					}
				</ul>
			</content>
			<Footer />
		</main>
		<ColorScript />
	</body>
</html>
