---
const { tags, all, routePrefix = "tag", heading = "View posts by tag", symbol = "#" } = Astro.props;
---

{all && <h3 class="tag-title">{heading}</h3>}
<div class=`${all && "tags"}`>
	{
		tags &&
			tags.map((tag) => (
				<>
					<a class="tag" href={`${import.meta.env.BASE_URL}/${routePrefix}/${tag}`}>
						{symbol}{tag}
					</a>
					{` `}
				</>
			))
	}
</div>
